doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Blog + MongoDB
  link(rel='stylesheet' href='style.css')
#body-div
script(src='app.js')
